/* Загальні стилі */

/* * {
  outline: 1px solid teal;
} */

body {
  font-family: $main-font-family;
  font-size: $main-font-size;

  transition: background-color $main-transition;
}

.theme-light {
  --main-bg-color: #ffffff;
  --logo-color: #173a56;
  --main-title-color: #22343d;
  --main-text-color: #22343d;
  background-color: var(--main-bg-color);

  & .benefits {
    background-image: url(../images/bg-curve.png);
  }
}

.theme-dark {
  --main-bg-color: #201f1f;
  --logo-color: #02897a;
  --main-title-color: #02897a;
  --main-text-color: #02897a;

  background-color: var(--main-bg-color);

  & .header__nav-link:hover,
  & .header__nav-link:focus {
    text-decoration: underline;
  }
}

.title,
.subtitle {
  color: var(--main-title-color);
}

.subtitle {
  font-size: 32px;
  line-height: 1.5;
}

.small-title {
  font-size: inherit;
  line-height: 1.62;

  margin-bottom: 12px;
}

.preheader {
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.62;

  color: var(--main-text-color);
}

.container {
  padding: 0 5px;
  margin: 0 auto;
  &--header {
    max-width: 1120px;
  }
  &--general {
    max-width: 1101px;
  }
  &--benefits {
    max-width: 1108px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.unvisible {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
