$main-font-family: Poppins, sans-serif;
$main-font-size: 16px;
$main-title-color: #22343d;
$main-light-color: #ffffff;

$accent-color: #02897a;
$accent-color-dark: #016d61;

$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
